/* GoBackLink.css */
.go-back-link {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
}

  
  .go-back-link:hover {
    color: darkblue; /* Optional: change color on hover for better UX */
  }
  